<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090619164818-qj8bt8bgaa3i18np7o88bs6365a54frp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090619164818-qj8bt8bgaa3i18np7o88bs6365a54frp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1090619164818-gsjiulc3tkbram170p4g0us2f0i4r8dt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPY5-vztJwTjVCF6Ph3-5vlB4k80o3VY0</string>
	<key>GCM_SENDER_ID</key>
	<string>1090619164818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nhanhship.customer</string>
	<key>PROJECT_ID</key>
	<string>nhanhship-c4ed8</string>
	<key>STORAGE_BUCKET</key>
	<string>nhanhship-c4ed8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090619164818:ios:6837bb020b9a598c94be4b</string>
	<key>DATABASE_URL</key>
	<string>https://nhanhship-c4ed8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>